* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: content-box;
}

:root {
  --kombu-green: rgba(39, 60, 44, 1);
  --dim-gray: rgba(98, 104, 104, 1);
  --taupe-gray: rgba(147, 145, 150, 1);
  --languid-lavender: rgba(211, 193, 210, 1);
  --pink-lace: rgba(255, 226, 254, 1);
}

body {
  background: rgb(238, 224, 237);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.calculator {
  background: var(--dim-gray);
  height: 600px;
  width: 400px;
  max-width: 99vw;
  border-radius: 1rem;
  border: 1px solid var(--taupe-gray);
}

.display {
  background: var(--languid-lavender);

  height: 25%;
  font-size: 3.6rem;
  border-radius: 0.5rem;
  margin: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 99vw;
}

.buttons-container {
  /* background: var(--taupe-gray); */
  display: grid;
  margin: 2rem;
  gap: 1rem;
  height: 75%;
  justify-content: center;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: repeat(5, 64px);
  max-width: 99vw;
}

.button {
  background: var(--pink-lace);
  /* border-radius: 12%; */
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s;
  cursor: pointer;
  /* max-width: 88%; */
}

.button:hover {
  opacity: 0.7;
}

.gray {
  background: var(--taupe-gray);
}

.gray:hover {
  opacity: 0.6;
}

.green {
  background: var(--kombu-green);
}

.span-2-col {
  grid-column: 1 / 3;
}

footer {
  color: var(--kombu-green);
  position: relative;
  /* bottom: 0%; */
  top: 5%;
  font-size: 1.3rem;
}
